# Hugo files
/public/
.hugo_build.lock
/resources/

# Python files
__pycache__

# generated content
/content/clean-code

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
