{{- /*
  Override of hextra's components/last-updated.html.
  Adds licensing related infos and a link with legal details.
*/ -}}
{{- $lastUpdated := (T "lastUpdated") | default "Last updated on" -}}
{{- $page := . -}}
{{- $hasLastmod := and site.Params.displayUpdatedDate .Lastmod -}}
{{- $source := .Params.source -}}
{{- $sourceName := .Params.source_name -}}
{{- $licenseName := .Params.license_name -}}
{{- $licenseURL := .Params.license_url -}}

{{- if or $hasLastmod $source -}}
  <div class="hx:mt-12 hx:mb-8 hx:block hx:text-xs hx:text-gray-500 hx:ltr:text-right hx:rtl:text-left hx:dark:text-gray-400">
    {{- with $source -}}
      {{ print "From " }}<a class="hx:underline hx:decoration-from-font" target="_blank" rel="noopener noreferrer" href="{{ . }}">{{ with $sourceName }}{{ . }}{{ else }}GitHub{{ end }}</a>
      {{- with $licenseName -}}
        {{ print " under " }}<a class="hx:underline hx:decoration-from-font" target="_blank" rel="noopener noreferrer" href="{{ $licenseURL }}">{{ . }}</a>
      {{- end -}}
      {{ print " — " }}<a class="hx:underline hx:decoration-from-font" href="{{ "/legal" | relURL }}">more details</a>
    {{- end -}}
    {{- if $hasLastmod -}}
      <br>
      {{- $datetime := (time.Format "2006-01-02T15:04:05.000Z" .Lastmod) -}}
      {{ $lastUpdated }} <time datetime="{{ $datetime }}">{{ partial "utils/format-date" .Lastmod }}</time>
      {{- if site.Params.displayUpdatedAuthor -}}
        {{- with $page.GitInfo -}}
          {{ print " • " .AuthorName | safeHTML }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- else -}}
  <div class="hx:mt-16"></div>
{{- end -}}
